{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

    <h1 align="center">{{ group.name }} </h1>

    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|safe }}</p>
                <!-- Add image display code  -->
            </li>
        {% endfor %}
    </ul>

    <h2>Create a Post</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.body.label(class="form-control-label") }}
            {{ form.body(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}


{% endblock %}