{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <style>
        .group {
            margin-bottom: 1rem; /* 这将在每个组之间添加1rem的空间 */
        }

        .container_create_group {
            display: flex;
            align-items: center;
        }

        .container_create_group a.btn.btn-primary {
            margin-left: 20px;  /* 向右移动+ */
        }

        .container_create_group .text {
            margin-left: 20px;  /* 向右移动标题和内容 */
        }

        .container_create_group .text .title {
            font-size: 2em;  /* 放大Create a group */
        }
    </style>


    <div class="container_create_group", {% if not user.admin %}style="display: none;"{% endif %}>
        <br>
        <br>
        <a href="{{ url_for('views.create_group') }}" class="btn btn-primary">+</a>
        <div class="text">
            <div class="title">Creat Group</div>
            <div class="content">Description of the purpose and meeting place of the group</div>
        </div>
    </div>


    <div class="container">
        <br>
        <br>
        <div class="row">
            {% for group in groups %}
                <div class="col-md-6">
                    <div class="group">
                        <h3><a href="{{ url_for('views.group_content', group_id=group.id) }}">{{ group.name }}</a></h3>
                        <p>{{ group.description }}</p>
                        <p><strong>Creator:</strong> {{ group.creator }}</p>
                        <p><strong>Date:</strong> {{ group.time }}</p>
                        {% if user.is_authenticated %}
                            {% if group in user.subscriptions %}
                                <form action="{{ url_for('views.unsubscribe', group_id=group.id) }}" method="post">
                                    <button type="submit" class="btn btn-danger">Unsubscribe</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('views.subscribe', group_id=group.id) }}" method="post">
                                    <button type="submit" class="btn btn-success">Subscribe</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="pagination">
            <ul class="pagination">
                {% if groups.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('views.groups', page=groups.prev_num) }}">Previous</a>
                    </li>
                {% endif %}
                {% for page_num in groups.iter_pages() %}
                    <li class="page-item{% if groups.page == page_num %} active{% endif %}">
                        <a class="page-link" href="{{ url_for('views.groups', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
                {% if groups.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('views.groups', page=groups.next_num) }}">Next</a>
                    </li>
                {% endif %}
{#                <a href="{{ url_for('views.create_group') }}" class="btn btn-primary">+</a>#}
            </ul>
        </div>
    </div>



{% endblock %}