{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <style>
        .btn-head {
            background-color: #f8f9fa;
        }
        .btn-footer {
        font-size: 22px; /* 调整图标大小 */
        background-color: transparent; /* 设置背景色为透明 */
        }
        .card-footer {
            display: flex;
            justify-content: space-around;
        }
        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .more-button {
            float: right;
            display: block;
            border: none;
            background: none;
            cursor: pointer;
            text-decoration: underline;
        }

    </style>

    <script src="{{ url_for('static', filename='view_more.js') }}"></script>
    <script src="{{ url_for('static', filename='deletePostAndFiles.js') }}"></script>
    <script src="{{ url_for('static', filename='likePost.js') }}"></script>

    {% for post in latest_posts %}
        <div class="container">
            <div class="card mt-5">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('post_views.show_post', group_id=post.group_id, post_id=post.id) }}">
                        <h5 class="mb-0">{{ post.title }}</h5>
                    </a>
                    <div>
                        <a href="{{ url_for('post_views.edit_post', group_id=post.group_id, post_id=post.id) }}">
                            <button type="button" class="btn btn-head">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                        <button type="button" class="btn btn-head" onclick="deletePostAndFiles({{ post.id }})"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="post-content" style="max-height: 745px; overflow: hidden;">
                        <p class="card-text">{{ post.content|safe }}</p>
                    </div>
                    <button class="more-button" onclick="toggleContent(this)">View more</button>
                </div>

                <div class="card-footer">
                    <div class="icon-container">
                        <button type="button" class="btn btn-footer" onclick="likePost({{ post.id }})">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                        <span id="like-count-{{ post.id }}">{{ post.like_count() }}</span>
                    </div>
                    <div class="icon-container">
                        <a href="{{ url_for('post_views.show_post', group_id=post.group_id, post_id=post.id) }}#comments-section">
                            <button type="button" class="btn btn-footer">
                                <i class="far fa-comment"></i>
                            </button>
                        </a>
                        <span>{{ post.comments|length }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <br>
    <br>
    <div class="container">
        <div class="row">
            {% for group in subscribed_groups %}
                <div class="col-md-4">
                    <div class="group">
                        <h3>
                            <i class="fas fa-users"></i> <!-- 这是一个图标，你可以根据需要更改 -->
                            <a href="{{ url_for('group_views.group_content', group_id=group.id) }}">{{ group.name }}</a>
                        </h3>
                        <p>{{ group.description }}</p>
                        <p><strong>Creator:</strong> {{ group.creator }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
