{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

    <h2 align="center">Latest Posts from Subscribed Groups</h2>

    <ul>
        {% for post in latest_posts %}
            <li>
{#                <h3>{{ post.title }}</h3>&nbsp;&nbsp;&nbsp;#}
                <p> <span class="font-weight-bold"> {{ post.title }} </span>
                        Posted by <span class="font-weight-bold">{{ post.user.first_name }} </span>
                        on {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                </p>
{#                <p>Posted by {{ post.user.first_name }} on {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>#}
{#                <p>{{ post.content|safe }}</p>#}
                <!-- Add image display code-->
            </li>
        {% endfor %}
    </ul>


    <h2 align="center">Your Subscribed Groups</h2>
    <div class="group-list">
        {% for group in subscribed_groups %}
            <div class="group">
                <h3><a href="{{ url_for('views.group_content', group_id=group.id) }}">{{ group.name }}</a></h3>
                <p><strong>Description:</strong> {{ group.description }}</p>
                <p><strong>Creator:</strong> {{ group.creator }}</p>
                <p><strong>Date:</strong> {{ group.time }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
