{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <style>
        .container {
            margin-top: 20px; /* 控制顶部间距 */
            margin-bottom: 20px; /* 控制底部间距 */

        }

        .comment-container {
            border-top: none; /* 设置上边框为1像素的实线黑色边框 */
            border-bottom: 2px solid #F5F5F5; /* 设置下边框为1像素的实线黑色边框 */
            border-left: none; /* 设置左边框为无（即隐藏） */
            border-right: none; /* 设置右边框为无（即隐藏） */
            {#padding: 10px; /* 添加一些内边距以突出显示 */#}
        }

        .nested-comments {
            margin-left: 20px;
        }

        .btn-head {
            background-color: #f8f9fa;
        }

        .btn-footer {
        font-size: 22px; /* 调整图标大小 */
        background-color: transparent; /* 设置背景色为透明 */
        }

        .card-footer {
            display: flex;
            justify-content: space-around;
        }
        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .more-button {
            float: right;
            display: block;
            border: none;
            background: none;
            cursor: pointer;
            text-decoration: underline;
        }

        .reply-button {
            border: none;
            background-color: #f5f5f5;
            color: #333;
            font-size: 13px;
            border-radius: 50px;
            /* 可以添加其他样式属性 */
        }


        .form-group {
            display: flex;
            align-items: center;
        }

        .form-control {
            max-height: 40px; /* 最大高度与实际高度相同，限制为一行 */
        }

        .submit-button {
            margin-left: 20px; /* 调整按钮与输入框之间的间距 */
        }

        .delete-button{
            border: none;
            background-color: #ffffff;
            {#color: #333;#}
        }
    </style>


    <script src="{{ url_for('static', filename='deletePostAndFiles.js') }}"></script>
    <script src="{{ url_for('static', filename='view_more.js') }}"></script>
    <script src="{{ url_for('static', filename='likePost.js') }}"></script>
    <script src="{{ url_for('static', filename='reply_comment.js') }}"></script>
    <script src="{{ url_for('static', filename='add_comment.js') }}"></script>
    <script src="{{ url_for('static', filename='delete_comment.js') }}"></script>


    <div class="container">
        <div class="card mt-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">{{ post.title }}</h5>
                <div>
                    <a href="{{ url_for('post_views.edit_post', group_id=group.id, post_id=post.id) }}">
                        <button type="button" class="btn btn-head">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                    <button type="button" class="btn btn-head" onclick="deletePostAndFiles({{ post.id }})"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="user-info">
                        <span class="username"> <strong>{{ post.user.first_name }} </strong> posted on </span>
                        <span class="publish-time">{{ post.created_at.strftime('%Y-%m-%d')}}</span>
                </div>
                <div class="post-content" style="max-height: 745px; overflow: hidden;">
                    <p class="card-text">{{ post.content|safe }}</p>
                </div>
                <button class="more-button" onclick="toggleContent(this)">View more</button>
            </div>

            <div class="card-footer">
                <div class="icon-container">
                    <button type="button" class="btn btn-footer" onclick="likePost({{ post.id }})">
                        <i class="far fa-thumbs-up"></i>
                    </button>
                    <span id="like-count-{{ post.id }}">{{ post.like_count() }}</span>
                </div>
                <div class="icon-container">
                    <button type="button" class="btn btn-footer">
                        <i class="far fa-comment"></i>
                    </button>
                    <span>{{ post.comments|length }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-container">
        <div class="container add-comment-container">
            <div class="add-comment">
                <h3>Comments</h3>
                <form method="post" action="{{ url_for('post_views.show_post', post_id=post.id, group_id=group.id) }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.comment_body(class="form-control") }}
                        <button type="button" class="btn btn-primary submit-button">Comment</button>
                    </div>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>
            </div>
        </div>

        <div class="outer-container", id="comments-section">
            {% for comment in reversed_comments %}
                <div class="container comment-container">
                    <div class="comment" data-comment-id="{{ comment.id }}">
                        <div class="comment-title-delete" style="display: flex; align-items: center; justify-content: space-between;">
                            <p> <strong>{{ comment.user.first_name }} </strong> commented at {{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}:</p>
                            <button class="delete-button"><i class="fas fa-minus-circle" style="color: #494040;"></i></button>
                        </div>
                        <p>{{ comment.body }}</p>
                        <button class="reply-button">Reply ></button>
                    <br>
                    <br>
                        <div class="reply-form" style="display: none;">
                            <form method="post" action="/submit_comment">
                                <div class="form-group" style="margin-left: 20px;">
                                    {{ form.comment_body(class="form-control") }}
                                    <button type="button" class="btn btn-primary submit-button">Reply</button> <!-- Change type to "button" -->
                                </div>
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">

                            </form>
                        </div>
                        {% if comment.children %}
                            {% for child_comment in comment.children %}
                                    <div class="comment-container-inner" style="margin-left: 20px;">
                                        <div class="comment" data-comment-id="{{ child_comment.id }}">
                                            <div class="comment-title-delete" style="display: flex; align-items: center; justify-content: space-between;">
                                                <p> <strong> {{ child_comment.user.first_name }} </strong> commented at {{ child_comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}:</p>
                                                <button class="delete-button"><i class="fas fa-minus-circle" style="color: #494040;"></i></button>
                                            </div>
                                            <p>{{ child_comment.body }}</p>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{#    <script>#}
{#    // 使用 JavaScript 获取评论并更新 post.html 中的容器#}
{#        fetch('/submit_comment') // 假设这个端点会返回最新的评论 HTML#}
{#            .then(response => response.text())#}
{#            .then(html => {#}
{#                const postContainer = document.getElementById('comment-container');#}
{#                postContainer.innerHTML = html; // 将服务器返回的 HTML 插入容器中#}
{#            })#}
{#            .catch(error => console.error('Error fetching and updating comments:', error));#}
{#    </script>#}

{% endblock %}



